/*!
 * nuBase 1.0.0
 *
 * Copyright 2013 nuThemes
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 */

/* ==========================================================================
   Reset
   normalize.css v2.1.3 | MIT License | git.io/normalize
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
		display: block;
}
audio,
canvas,
video {
		display: inline-block;
}
audio:not([controls]) {
		display: none;
		height: 0;
}
[hidden],
template {
		display: none;
}
html {
		font-family: sans-serif;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
}
body {
		margin: 0;
}
a {
		background: transparent;
}
a:focus {
		outline: thin dotted;
}
a:active,
a:hover {
		outline: 0;
}
h1 {
		font-size: 2em;
		margin: 0.67em 0;
}
abbr[title] {
		border-bottom: 1px dotted;
}
b,
strong {
		font-weight: bold;
}
dfn {
		font-style: italic;
}
hr {
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		height: 0;
}
mark {
		background: #ff0;
		color: #000;
}
code,
kbd,
pre,
samp {
		font-family: monospace, serif;
		font-size: 1em;
}
pre {
		white-space: pre-wrap;
}
q {
		quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
		font-size: 80%;
}
sub,
sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
}
sup {
		top: -0.5em;
}
sub {
		bottom: -0.25em;
}
img {
		border: 0;
}
svg:not(:root) {
		overflow: hidden;
}
figure {
		margin: 0;
}
fieldset {
		border: 1px solid #c0c0c0;
		margin: 0 2px;
		padding: 0.35em 0.625em 0.75em;
}
legend {
		border: 0;
		padding: 0;
}
button,
input,
select,
textarea {
		font-family: inherit;
		font-size: 100%;
		margin: 0;
}
button,
input {
		line-height: normal;
}
button,
select {
		text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
		-webkit-appearance: button;
		cursor: pointer;
}
button[disabled],
html input[disabled] {
		cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
		box-sizing: border-box;
		padding: 0;
}
input[type="search"] {
		-webkit-appearance: textfield;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
		border: 0;
		padding: 0;
}
textarea {
		overflow: auto;
		vertical-align: top;
}
table {
		border-collapse: collapse;
		border-spacing: 0;
}

/* ==========================================================================
   Basic Styling
   ========================================================================== */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Make sure objects fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* Typography
   ========================================================================== */
html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	color: #333;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.428571429;
	background-color: #fff;
}
input,
button,
select,
textarea {
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}
abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #999;
}
p {
	margin: 0 0 1em;
	}
blockquote {
	margin: 0 0 1em;
	padding: 10px 20px;
	border-left: 5px solid #eee;
	border-left-color: rgba(0, 0, 0, .05);
}
blockquote p {
	font-size: 17.5px;
	font-weight: 300;
	line-height: 1.5;
}
blockquote p:last-child {
	margin-bottom: 0;
}
blockquote small {
	display: block;
	line-height: 1.428571429;
	color: #999999;
}
blockquote small:before {
	content: '\2014 \00A0';
}
blockquote:before,
blockquote:after {
	content: "";
}
address {
	margin-bottom: 1em;
	font-style: normal;
	line-height: 1.428571429;
}
small {
	font-size: 85%;
}
cite {
	font-style: normal;
}

/* Links
   ========================================================================== */
a {
	color: #428bca;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #2a6496;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/* Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 1.2;
	color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999999;
}
h1,
h2,
h3 {
	margin-top: 1em;
	margin-bottom: .5em;
}
h1 small,
h2 small,
h3 small {
	font-size: 65%;
}
h4,
h5,
h6 {
	margin-top: .5em;
	margin-bottom: .5em;
}
h4 small,
h5 small,
h6 small {
	font-size: 75%;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}

/* Lists
   ========================================================================== */
ul,
ol {
	margin-top: 0;
	padding-left: 15px;
	margin-bottom: 1em;
}
ol {
	padding-left: 20px;
}
ul ul,
ol ul,
ul ol,
ol ol {
	margin-left: 15px;
	margin-bottom: 0;
}
dl {
	margin-bottom: 1em;
}
dt,
dd {
	line-height: 1.428571429;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 0;
	margin-bottom: .5em;
}

/* Codes
   ========================================================================== */
code,
kbd,
pre,
samp {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	white-space: nowrap;
	border-radius: 4px;
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.428571429;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}
pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}

/* Tables
   ========================================================================== */
table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1.5em;
	background-color: transparent;
	border: 1px solid #ddd;
}
th {
	text-align: left;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.428571429;
	vertical-align: top;
	border: 1px solid #dddddd;
}
table > thead > tr > th {
	vertical-align: bottom;
	border-bottom-width: 2px;
}
table > tbody + tbody {
	border-top: 2px solid #dddddd;
}
table table {
	background-color: #ffffff;
}
table col[class*="col-"] {
	float: none;
	display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
	float: none;
	display: table-cell;
}
@media (max-width: 767px) {
	table {
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #dddddd;
		-webkit-overflow-scrolling: touch;
	}
	table > table {
		margin-bottom: 0;
	}
	table > table > thead > tr > th,
	table > table > tbody > tr > th,
	table > table > tfoot > tr > th,
	table > table > thead > tr > td,
	table > table > tbody > tr > td,
	table > table > tfoot > tr > td {
		white-space: nowrap;
	}
}

/* Forms
   ========================================================================== */
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}
input[type="search"] {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal;
}
input[type="file"] {
	display: block;
}
select[multiple],
select[size] {
	height: auto;
}
select optgroup {
	font-size: inherit;
	font-style: inherit;
	font-family: inherit;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	height: auto;
}
output {
	display: block;
	padding-top: 7px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control {
	display: inline-block;
	width: 100%;
	height: 34px;
	margin: 0;
	padding: 6px 10px;
	color: #333;
	font-size: 14px;
	line-height: 1.428571429;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #dddddd;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	   -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus {
	outline: 0;
	border-color: #66afe9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control:-moz-placeholder {
	color: #666666;
}
.form-control::-moz-placeholder {
	color: #666666;
}
.form-control:-ms-input-placeholder {
	color: #666666;
}
.form-control::-webkit-input-placeholder {
	color: #666666;
}
.form-group {
	margin-bottom: 15px;
}
textarea,
textarea.form-control {
	height: auto!important;
}
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	border-radius: 3px;
	-webkit-appearance: button;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
		 -o-user-select: none;
			user-select: none;
	-webkit-transition: background-color .1s linear;
	   -moz-transition: background-color .1s linear;
		-ms-transition: background-color .1s linear;
		 -o-transition: background-color .1s linear;
			transition: background-color .1s linear;
}
.btn:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn:hover,
.btn:focus,
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	color: #333333;
	text-decoration: none;
}
.btn:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	   -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373;
}

/* ==========================================================================
   Grids
   Bootstrap.css v3.0.2 | Apache License v2.0 | http://getbootstrap.com
   ========================================================================== */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear: both;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.row:before,
.row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
	float: left;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-11 {
	width: 91.66666666666666%;
}
.col-xs-10 {
	width: 83.33333333333334%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-8 {
	width: 66.66666666666666%;
}
.col-xs-7 {
	width: 58.333333333333336%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-5 {
	width: 41.66666666666667%;
}
.col-xs-4 {
	width: 33.33333333333333%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-2 {
	width: 16.666666666666664%;
}
.col-xs-1 {
	width: 8.333333333333332%;
}
.col-xs-pull-12 {
	right: 100%;
}
.col-xs-pull-11 {
	right: 91.66666666666666%;
}
.col-xs-pull-10 {
	right: 83.33333333333334%;
}
.col-xs-pull-9 {
	right: 75%;
}
.col-xs-pull-8 {
	right: 66.66666666666666%;
}
.col-xs-pull-7 {
	right: 58.333333333333336%;
}
.col-xs-pull-6 {
	right: 50%;
}
.col-xs-pull-5 {
	right: 41.66666666666667%;
}
.col-xs-pull-4 {
	right: 33.33333333333333%;
}
.col-xs-pull-3 {
	right: 25%;
}
.col-xs-pull-2 {
	right: 16.666666666666664%;
}
.col-xs-pull-1 {
	right: 8.333333333333332%;
}
.col-xs-pull-0 {
	right: 0%;
}
.col-xs-push-12 {
	left: 100%;
}
.col-xs-push-11 {
	left: 91.66666666666666%;
}
.col-xs-push-10 {
	left: 83.33333333333334%;
}
.col-xs-push-9 {
	left: 75%;
}
.col-xs-push-8 {
	left: 66.66666666666666%;
}
.col-xs-push-7 {
	left: 58.333333333333336%;
}
.col-xs-push-6 {
	left: 50%;
}
.col-xs-push-5 {
	left: 41.66666666666667%;
}
.col-xs-push-4 {
	left: 33.33333333333333%;
}
.col-xs-push-3 {
	left: 25%;
}
.col-xs-push-2 {
	left: 16.666666666666664%;
}
.col-xs-push-1 {
	left: 8.333333333333332%;
}
.col-xs-push-0 {
	left: 0%;
}
.col-xs-offset-12 {
	margin-left: 100%;
}
.col-xs-offset-11 {
	margin-left: 91.66666666666666%;
}
.col-xs-offset-10 {
	margin-left: 83.33333333333334%;
}
.col-xs-offset-9 {
	margin-left: 75%;
}
.col-xs-offset-8 {
	margin-left: 66.66666666666666%;
}
.col-xs-offset-7 {
	margin-left: 58.333333333333336%;
}
.col-xs-offset-6 {
	margin-left: 50%;
}
.col-xs-offset-5 {
	margin-left: 41.66666666666667%;
}
.col-xs-offset-4 {
	margin-left: 33.33333333333333%;
}
.col-xs-offset-3 {
	margin-left: 25%;
}
.col-xs-offset-2 {
	margin-left: 16.666666666666664%;
}
.col-xs-offset-1 {
	margin-left: 8.333333333333332%;
}
.col-xs-offset-0 {
	margin-left: 0%;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-11 {
		width: 91.66666666666666%;
	}
	.col-sm-10 {
		width: 83.33333333333334%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-8 {
		width: 66.66666666666666%;
	}
	.col-sm-7 {
		width: 58.333333333333336%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66666666666667%;
	}
	.col-sm-4 {
		width: 33.33333333333333%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-2 {
		width: 16.666666666666664%;
	}
	.col-sm-1 {
		width: 8.333333333333332%;
	}
	.col-sm-pull-12 {
		right: 100%;
	}
	.col-sm-pull-11 {
		right: 91.66666666666666%;
	}
	.col-sm-pull-10 {
		right: 83.33333333333334%;
	}
	.col-sm-pull-9 {
		right: 75%;
	}
	.col-sm-pull-8 {
		right: 66.66666666666666%;
	}
	.col-sm-pull-7 {
		right: 58.333333333333336%;
	}
	.col-sm-pull-6 {
		right: 50%;
	}
	.col-sm-pull-5 {
		right: 41.66666666666667%;
	}
	.col-sm-pull-4 {
		right: 33.33333333333333%;
	}
	.col-sm-pull-3 {
		right: 25%;
	}
	.col-sm-pull-2 {
		right: 16.666666666666664%;
	}
	.col-sm-pull-1 {
		right: 8.333333333333332%;
	}
	.col-sm-pull-0 {
		right: 0%;
	}
	.col-sm-push-12 {
		left: 100%;
	}
	.col-sm-push-11 {
		left: 91.66666666666666%;
	}
	.col-sm-push-10 {
		left: 83.33333333333334%;
	}
	.col-sm-push-9 {
		left: 75%;
	}
	.col-sm-push-8 {
		left: 66.66666666666666%;
	}
	.col-sm-push-7 {
		left: 58.333333333333336%;
	}
	.col-sm-push-6 {
		left: 50%;
	}
	.col-sm-push-5 {
		left: 41.66666666666667%;
	}
	.col-sm-push-4 {
		left: 33.33333333333333%;
	}
	.col-sm-push-3 {
		left: 25%;
	}
	.col-sm-push-2 {
		left: 16.666666666666664%;
	}
	.col-sm-push-1 {
		left: 8.333333333333332%;
	}
	.col-sm-push-0 {
		left: 0%;
	}
	.col-sm-offset-12 {
		margin-left: 100%;
	}
	.col-sm-offset-11 {
		margin-left: 91.66666666666666%;
	}
	.col-sm-offset-10 {
		margin-left: 83.33333333333334%;
	}
	.col-sm-offset-9 {
		margin-left: 75%;
	}
	.col-sm-offset-8 {
		margin-left: 66.66666666666666%;
	}
	.col-sm-offset-7 {
		margin-left: 58.333333333333336%;
	}
	.col-sm-offset-6 {
		margin-left: 50%;
	}
	.col-sm-offset-5 {
		margin-left: 41.66666666666667%;
	}
	.col-sm-offset-4 {
		margin-left: 33.33333333333333%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-offset-2 {
		margin-left: 16.666666666666664%;
	}
	.col-sm-offset-1 {
		margin-left: 8.333333333333332%;
	}
	.col-sm-offset-0 {
		margin-left: 0%;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
		float: left;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-11 {
		width: 91.66666666666666%;
	}
	.col-md-10 {
		width: 83.33333333333334%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-8 {
		width: 66.66666666666666%;
	}
	.col-md-7 {
		width: 58.333333333333336%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-5 {
		width: 41.66666666666667%;
	}
	.col-md-4 {
		width: 33.33333333333333%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-2 {
		width: 16.666666666666664%;
	}
	.col-md-1 {
		width: 8.333333333333332%;
	}
	.col-md-pull-12 {
		right: 100%;
	}
	.col-md-pull-11 {
		right: 91.66666666666666%;
	}
	.col-md-pull-10 {
		right: 83.33333333333334%;
	}
	.col-md-pull-9 {
		right: 75%;
	}
	.col-md-pull-8 {
		right: 66.66666666666666%;
	}
	.col-md-pull-7 {
		right: 58.333333333333336%;
	}
	.col-md-pull-6 {
		right: 50%;
	}
	.col-md-pull-5 {
		right: 41.66666666666667%;
	}
	.col-md-pull-4 {
		right: 33.33333333333333%;
	}
	.col-md-pull-3 {
		right: 25%;
	}
	.col-md-pull-2 {
		right: 16.666666666666664%;
	}
	.col-md-pull-1 {
		right: 8.333333333333332%;
	}
	.col-md-pull-0 {
		right: 0%;
	}
	.col-md-push-12 {
		left: 100%;
	}
	.col-md-push-11 {
		left: 91.66666666666666%;
	}
	.col-md-push-10 {
		left: 83.33333333333334%;
	}
	.col-md-push-9 {
		left: 75%;
	}
	.col-md-push-8 {
		left: 66.66666666666666%;
	}
	.col-md-push-7 {
		left: 58.333333333333336%;
	}
	.col-md-push-6 {
		left: 50%;
	}
	.col-md-push-5 {
		left: 41.66666666666667%;
	}
	.col-md-push-4 {
		left: 33.33333333333333%;
	}
	.col-md-push-3 {
		left: 25%;
	}
	.col-md-push-2 {
		left: 16.666666666666664%;
	}
	.col-md-push-1 {
		left: 8.333333333333332%;
	}
	.col-md-push-0 {
		left: 0%;
	}
	.col-md-offset-12 {
		margin-left: 100%;
	}
	.col-md-offset-11 {
		margin-left: 91.66666666666666%;
	}
	.col-md-offset-10 {
		margin-left: 83.33333333333334%;
	}
	.col-md-offset-9 {
		margin-left: 75%;
	}
	.col-md-offset-8 {
		margin-left: 66.66666666666666%;
	}
	.col-md-offset-7 {
		margin-left: 58.333333333333336%;
	}
	.col-md-offset-6 {
		margin-left: 50%;
	}
	.col-md-offset-5 {
		margin-left: 41.66666666666667%;
	}
	.col-md-offset-4 {
		margin-left: 33.33333333333333%;
	}
	.col-md-offset-3 {
		margin-left: 25%;
	}
	.col-md-offset-2 {
		margin-left: 16.666666666666664%;
	}
	.col-md-offset-1 {
		margin-left: 8.333333333333332%;
	}
	.col-md-offset-0 {
		margin-left: 0%;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {
		float: left;
	}
	.col-lg-12 {
		width: 100%;
	}
	.col-lg-11 {
		width: 91.66666666666666%;
	}
	.col-lg-10 {
		width: 83.33333333333334%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-8 {
		width: 66.66666666666666%;
	}
	.col-lg-7 {
		width: 58.333333333333336%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-5 {
		width: 41.66666666666667%;
	}
	.col-lg-4 {
		width: 33.33333333333333%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-2 {
		width: 16.666666666666664%;
	}
	.col-lg-1 {
		width: 8.333333333333332%;
	}
	.col-lg-pull-12 {
		right: 100%;
	}
	.col-lg-pull-11 {
		right: 91.66666666666666%;
	}
	.col-lg-pull-10 {
		right: 83.33333333333334%;
	}
	.col-lg-pull-9 {
		right: 75%;
	}
	.col-lg-pull-8 {
		right: 66.66666666666666%;
	}
	.col-lg-pull-7 {
		right: 58.333333333333336%;
	}
	.col-lg-pull-6 {
		right: 50%;
	}
	.col-lg-pull-5 {
		right: 41.66666666666667%;
	}
	.col-lg-pull-4 {
		right: 33.33333333333333%;
	}
	.col-lg-pull-3 {
		right: 25%;
	}
	.col-lg-pull-2 {
		right: 16.666666666666664%;
	}
	.col-lg-pull-1 {
		right: 8.333333333333332%;
	}
	.col-lg-pull-0 {
		right: 0%;
	}
	.col-lg-push-12 {
		left: 100%;
	}
	.col-lg-push-11 {
		left: 91.66666666666666%;
	}
	.col-lg-push-10 {
		left: 83.33333333333334%;
	}
	.col-lg-push-9 {
		left: 75%;
	}
	.col-lg-push-8 {
		left: 66.66666666666666%;
	}
	.col-lg-push-7 {
		left: 58.333333333333336%;
	}
	.col-lg-push-6 {
		left: 50%;
	}
	.col-lg-push-5 {
		left: 41.66666666666667%;
	}
	.col-lg-push-4 {
		left: 33.33333333333333%;
	}
	.col-lg-push-3 {
		left: 25%;
	}
	.col-lg-push-2 {
		left: 16.666666666666664%;
	}
	.col-lg-push-1 {
		left: 8.333333333333332%;
	}
	.col-lg-push-0 {
		left: 0%;
	}
	.col-lg-offset-12 {
		margin-left: 100%;
	}
	.col-lg-offset-11 {
		margin-left: 91.66666666666666%;
	}
	.col-lg-offset-10 {
		margin-left: 83.33333333333334%;
	}
	.col-lg-offset-9 {
		margin-left: 75%;
	}
	.col-lg-offset-8 {
		margin-left: 66.66666666666666%;
	}
	.col-lg-offset-7 {
		margin-left: 58.333333333333336%;
	}
	.col-lg-offset-6 {
		margin-left: 50%;
	}
	.col-lg-offset-5 {
		margin-left: 41.66666666666667%;
	}
	.col-lg-offset-4 {
		margin-left: 33.33333333333333%;
	}
	.col-lg-offset-3 {
		margin-left: 25%;
	}
	.col-lg-offset-2 {
		margin-left: 16.666666666666664%;
	}
	.col-lg-offset-1 {
		margin-left: 8.333333333333332%;
	}
	.col-lg-offset-0 {
		margin-left: 0%;
	}
}

/* ==========================================================================
   Common Classes
   ========================================================================== */

/* Lists
   ========================================================================== */
.alignleft {
	float: left;
	display: inline;
	margin: 0 1.5em 1.5em 0;
}
.alignright {
	float: right;
	display: inline;
	margin: 0 0 1.5em 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Clearing
   ========================================================================== */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
*:first-child+html .clearfix {
	min-height: 1px;
}
.clearfix {
	display: block;
}
.clear {
	clear: both;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
.site-menu {
	position: relative;
	z-index: 99;
}
.menu-toggle {
	display: none;
	width: 60px;
	height: 50px;
	float: right;
	cursor: pointer;
	color: #999;
	text-align: center;
}
.menu-toggle:hover,
.menu-toggle.active {
	color: #fff;
	background: rgba(0, 0, 0, .15);
	}
.menu-toggle i {
	padding: 10px 0;
	font-size: 28px;
}
.menu-text {
	display: none;
	float: right;
	padding: 13px 20px;
	font-size: 16px;
	line-height: 24px;
}
.menu-bar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu-bar ul li {
	position: relative;
	}
.menu-bar ul li a {
	display: block;
	padding: 0 20px;
	color: #333;
	font-size: 15px;
	text-decoration: none;
	line-height: 50px;
	-webkit-transition: background-color .1s linear;
	   -moz-transition: background-color .1s linear;
		-ms-transition: background-color .1s linear;
		 -o-transition: background-color .1s linear;
			transition: background-color .1s linear;
}
.menu-bar ul ul li a {
	padding: 8px 20px;
	font-size: 14px;
	line-height: 20px;
}
.menu-bar ul li a:after {
	font-family: FontAwesome;
}
.menu-bar ul li a:after {
	content: "\f0d7";
	float: none;
	margin-left: 6px;
	opacity: 0.5;
}
.menu-bar ul ul li a:after {
	content: "\f0da";
	float: right;
	margin-left: 0;
}
.menu-bar ul li a:only-child:after {
	content: "";
	margin: 0;
}

@media only screen and (min-width: 720px) {
	.menu-bar {
		height: auto!important;
	}
	.menu-bar ul {
		font-size: 0;
	}
	.menu-bar ul ul {
		display: none;
		position: absolute;
		top: 50px;
		left: 0;
		width: 180px;
		background: #ffffff;
		border: none;
		-webkit-transform: translateZ(0);
		-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
		   -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
				box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
	}
	.menu-bar ul ul ul {
		position: absolute;
		top: 0;
		left: 180px;
	}
	.menu-bar ul li:hover > ul {
		display: block;
	}
	.menu-bar > ul > li {
		display: inline-block;
	}
	.menu-bar ul ul li {
		display: block;
		padding: 0;
		border-right: none;
	}
	.menu-bar ul > li > a:hover, 
	.menu-bar ul > li:hover > a {
		background-color: rgba(0, 0, 0, .15);
	}
	.menu-bar ul li > a:hover, 
	.menu-bar ul li:hover > a, 
	.menu-bar ul li.current_page_item > a, 
	.menu-bar ul li.current-menu-item > a,
	.menu-bar ul li.current-menu-ancestor > a,
	.menu-bar ul li.current_page_ancestor > a,
	.menu-bar ul li.current-post-parent > a {
		color: #333;
	}
}
@media only screen and (max-width: 719px) {
	.menu-bar ul {
		font-weight: 400;
	}
	.site-menu {
		overflow: hidden;
	}
	.menu-toggle,
	.menu-text {
		display: block;
	}
	.menu-bar {
		position: relative;
		float: left;
		width: 100%;
		height: 0;
		padding: 0;
		overflow: hidden;
	}
	.menu-bar.transition {
		-webkit-transition: height 0.35s ease;
		   -moz-transition: height 0.35s ease;
			 -o-transition: height 0.35s ease;
				transition: height 0.35s ease;
	}
	.menu-expand > ul {
		height: auto;
	}
	.menu-bar ul {
		float: left;
		width: 100%;
		border-top: 1px solid #cccccc;
	}
	.menu-bar ul ul {
		float: none;
		display: block!important;
		margin-left: 20px;
	}
	.menu-bar ul li {
		border-bottom: 1px solid #cccccc;
	}
	.menu-bar ul li:last-child {
		border: none;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}
	.menu-bar ul li a {
		padding: 8px 15px;
		line-height: 20px;
	}
	.menu-bar ul > li > a:hover {
		background-color: rgba(0, 0, 0, .15);
	}
	.menu-bar ul > li > a:hover,
	.menu-bar ul li:hover > a, 
	.menu-bar ul li.current_page_item > a, 
	.menu-bar ul li.current-menu-item > a,
	.menu-bar ul li.current-menu-ancestor > a,
	.menu-bar ul li.current_page_ancestor > a,
	.menu-bar ul li.current-post-parent > a {
		color: #222;
	}
	.menu-bar ul ul li a {
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.menu-bar ul ul li a:after {
		content: '\f0d7';
		float: none;
		margin-left: 6px;
	}
}

/* ==========================================================================
   Print
   ========================================================================== */
@media print {
	* {
		text-shadow: none !important;
		color: #000 !important;
		background: transparent !important;
		box-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page	{
		margin: 2cm .5cm;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
	select {
		background: #fff !important;
	}
	table td,
	table th {
		background-color: #fff !important;
	}
	label {
		border: 1px solid #000;
	}
	table {
		border-collapse: collapse !important;
	}
}