/*

Theme Name:Vasiliki
Theme URL: http://www.web2feel.com/vasiliki/
Description: Перевод от <a href="http://wordpress-theming.ru/">wordpress-theming.ru</a>.
Author: Jinsona
Author URI: www.web2feel.com
Version: 1.0.0
Tags: white, left-sidebar, twitter, fixed-width, theme-options, threaded-comments, banner ads, adsense,fab themes.

*/

*{
	margin: 0px;
	padding: 0px;
}

body {
	margin:0 auto;
	padding:0px 0px 0px 0px;
	font-family:Arial,Tahoma,Century gothic, sans-serif;
	color:#161514;
	font-size:13px;
	}
img {
	border:0;
	margin: 0 0;
	}
a {
	color:#28BABD;
	text-decoration:none;
	outline:none;
	}
a:hover {
	color:#000;
	text-decoration:none;
		}
h1, h2, h3, h4, h5, h6 {
	
	}
blockquote {
	padding:10px 10px 10px 10px;
	color:#59666f;
	font-style: normal;

	}
.clear {
	clear:both;
	}

table{
	border-collapse: collapse;
	border-spacing: 0;
  margin: 10px 0 10px;
  border:1px solid #fff;
}
tr th,
 thead th {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
	border: 1px solid #e7e7e7;
	text-shadow:1px 1px 1px #6B6F7A;
	background:#aaa;
}
 tr td {
	border: 1px solid #e7e7e7;
	padding: 6px 24px;
}
 tr.odd td {
	background: #f2f7fc;
}


img.centered  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0px;
	}
	
img.alignnone {
	padding: 5px 5px;
	margin: 0px 0px 10px 0px;
	display: inline;
	background:#eee;

	}

img.alignright {
	padding: 5px 5px;
	margin: 5px 0px 10px 10px;
	display: inline;
	background:#eee;

	}

img.alignleft {
	padding: 5px 5px;
	margin: 10px 15px 10px 0px;
	display: inline;
	background:#eee;

	}
	
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	}

.alignright {
	float: right;
	margin: 0px 0px 10px 10px;
	}

.alignleft {
	float: left;
	margin: 10px 15px 10px 0px;
	}
	
.wp-caption {

	text-align: center;
	background:#eee;
	padding: 4px 0px 5px 0px;
	margin: 10px 10px ;
	}

.wp-caption img {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	border: 0px;
	
	}

.wp-caption p.wp-caption-text {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	color:#444;
	}
.rounded{

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.boxshadow{
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;


}	

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* The Outer cover */

#wrapper {
	
	margin:0px auto;
	position:relative;


	}
	
#casing {
	position:relative;
	margin:0px auto;
	background:#eee url(images/body.png);

	}		

/* The Header */
#masthead{
	background:url(images/top.png) repeat-x;
	height:80px;


	
}

#top {
	height:70px;
	margin:10px 10px 0px 20px;
	position:relative;
	background:#121212;
	width:260px;
	float:left;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	}
	

h1.logo{
	font-size:32px;
	padding-top:10px;
	width:260px;
	text-align:center;
	}

h1.logo a:link, h1.logo a:visited{
	color:#aaa;
}

h1.logo a:hover{
	color:#eee;
}
	

/* The Search */

	
#search {
	width:220px;
	padding:0px ;
	top:7px;
	right:10px;
	display:inline-block;
	position:absolute;
	background:#616161;
	border:1px solid #777;
	}

#search form {
	margin: 0px 0px 0px 0px;
	padding: 0;
	}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
	}

#search p {
	margin: 0;
	font-size: 85%;
	}

#s {
	width:150px;
	background:#616161;
	margin:0px 0px 0px 3px;
	padding: 5px 5px;
	height:15px;
	border:none;
	font: normal 100% "Tahoma", Arial, Helvetica, sans-serif;
	color:#eee;
	float:left;
	display:inline;

	}

#searchsubmit{
	background:url(images/sbutton.png);
	border:none;
	color:#fff;
	display:block;
	width:16px;
	height:16px;
	margin:5px 5px 0px 0px;
	float:right; 
	cursor:pointer;
	}
	
#searchpage{
	background:#fff;
	border:1px solid #ccc;
	margin:0px 10px 0px 10px;
	}

#sform{
	width:450px;
	border:none;
	padding:6px 5px;
	}

#formsubmit{
	float:right;
	background:url(images/sfrm.png) repeat-x;
	border-left:1px solid #ccc!important;
	border:none;
	padding:5px 5px;
	}

.scover{

	margin-top:10px!important;
	}
	
.sbox{
	padding:10px 0px;
	padding:10px 0px;
	}
	
.sbox p{
	padding:5px 0px;
	color:#666!important;
}
.shead{
	margin:0px 10px 25px 10px;

}
.shead p{
	margin-left:10px;
	margin-bottom:10px;
	color:#3E91CE;
}

.stitle h2{
	font-size:16px;
	font-weight:bold;
	padding:5px 0px;
}
.stitle h2 a{
	color:#333;

}

.searchmeta{
	margin-top:10px; 
	color:#111;
}

.searchmeta a{
	color:#3E91CE;

}

	
/*Page menu*/
	
#botmenu{
	height:40px;
	margin-top:40px;
	float:left;
	left:280px;
	font-size: 11px;
	font-family:Arial, verdana,Tahoma,Century gothic,  sans-serif;	

	}
	
#submenu {
	margin: 0px auto;
	width:auto;
	padding:0px 0px;
	float:left;
	}
	
#submenu ul {
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0 0px;
	}
	
#submenu li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #eee;
	text-shadow:1px 1px 0px #000;
	}
	
#submenu li a {
	color: #eee;
	display: block;
    margin: 0;
	padding: 12px 15px 13px 0px;
	text-decoration: none;
	position: relative;
	text-shadow:1px 1px 0px #000;
	}

#submenu li a:hover, #submenu li a:active, #submenu .current_page_item a  {
	color: #fff;
	text-shadow:1px 1px 0px #000;

	}
	
#submenu li a.sf-with-ul {
	padding-right: 20px;
	}	
	

	
#submenu li li a, #submenu li li a:link, #submenu li li a:visited {
	color: #888;
	text-shadow:none;
	width: 148px; 
	font-family: Arial, Tahoma, Verdana;
	margin: 0;
	padding: 0px 10px;
	line-height:35px;
	border-bottom:1px solid #2a2a2a;
	border-top:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #2a2a2a;
	text-transform: none;
	position: relative;
	background:#080808;
	}
	
#submenu ul ul li:first-child{
	border-top:none;

}

#submenu ul ul li:last-child{
	border-bottom:none;

}	
	
#submenu li li:last-child{
	border-bottom:none;
}
		
#submenu li li a:hover, #submenu li li a:active {
	background:#111;
	color: #eee; 
	}


#submenu li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 170px;
	margin: 5px 0px;
	padding: 5px 5px;
	background:#222;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}

#submenu li ul a { 
	width: 150px;
	}

#submenu li ul a:hover, #submenu li ul a:active { 
	}

#submenu li ul ul {
	margin: -41px 0 0 179px;
	}

#submenu li:hover ul ul, #submenu li:hover ul ul ul, #submenu li.sfHover ul ul, #submenu li.sfHover ul ul ul {
	left: -999em;
	}

#submenu li:hover ul, #submenu li li:hover ul, #submenu li li li:hover ul, #submenu li.sfHover ul, #submenu li li.sfHover ul, #submenu li li li.sfHover ul {
	left: auto;
	}

#submenu li:hover, #submenu li.sfHover { 
	position: static;
	}


	

/* Main Content*/	

#mason-cover{

	padding-left:290px;

	
}
#mason-content {
	clear:both;
	padding:20px 0px 0px 0px;
	margin:0px 0px 0px 0px;


	}	

#content {
	float:left;
	width: 630px;
	padding:0px 0px 0px 0px;
	margin:30px 0px 0px 20px;
	display:inline;

	}	

	

/* POST */

.postimg{

	margin:0px 0px 0px 0px;


}

.box{
	width:240px;
	margin:10px;
	padding:10px;
	background:#fff;
	float:left;
	position:relative;
	-moz-box-shadow: 0px 1px 1px rgba(2, 2, 2, 0.2);
    -webkit-box-shadow: 0px 1px 1px rgba(2, 2, 2, 0.2);
    box-shadow: 0px 1px 1px rgba(2, 2, 2, 0.2);
}

.box .entry p{
	font-size:11px;
	line-height:180%;
	color:#666;
}

.box .title  h2 {
	font-size:14px;
	margin:10px 0px 5px 0px;
	padding:0px 0px;
	color:#666;
	line-height:150%;
}

.post {
	margin: 0px 0px 10px 0px;
	background:#fff;
	color:#666;
	padding:20px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}

.title{
	margin: 0px 0px;
	padding: 5px 0px;

}		
	
.title  h2 {
	margin: 0px 0px;
	padding: 0px 0px 10px 0px ;
	font-size: 22px ;
	font-family:Arial,century gothic,verdana, sans-serif;
	font-weight:bold;

	}

.title  h2 a, .title  h2 a:link, .title  h2 a:visited  {
	color:#444;
	background-color: transparent;

	}
	
.title  h2 a:hover  {
	color: #333;
	background-color: transparent;
	}	
	
.insubhead{
	width:1000px;
	margin:0px auto;
	padding:5px 0px;
	color:#fff;

	}	
	
.insubhead h1{
	padding:10px 0px 10px 0px;
	margin:10px 0px;
}	
	
.insubhead  h1 a:link, .insubhead h1 a:visited  {
	color:#fff;
	background-color: transparent;
	font-size:30px;

	}
	
.insubhead  h1 a:hover  {
	color: #fff;
	background-color: transparent;
	}	
	
	
	
.postmeta{
	padding:5px 0px;
	margin-bottom:10px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-size:10px;
	text-transform:uppercase;
	}
	
.author{

	color:#777;
	padding:2px 5px 2px 15px;
	background:url(images/user.png) left center no-repeat;
	}

.clock{
	color:#777;
	padding:2px 5px 2px 15px;
	background:url(images/clock.png) left center no-repeat;
}	

.comm{
	color:#777;
	padding:2px 5px 2px 0px;
		
	}

.comm a:link,
.comm a:visited {
	color:#777;
	}
	
.comm a:hover{
	color:#000;
	
}




a.morer{
	float:right;
	margin-right:5px;
	background:url(images/rmore.png) no-repeat;
	width:121px;
	height:38px;
	line-height:38px;
	text-align:center;
	color:#fff!important;
	text-decoration:none;
}


.singleinfo {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font:10px  Tahoma, Georgia, Arial,century gothic,verdana, sans-serif;
	text-transform:uppercase;
	color:#827A60;
	padding:5px 0px;

	}

.category{
	padding:5px 0 5px 0px;
	color:#827A60;
	background:url(images/tag.png) left center no-repeat;
	
	}

.category a:link,.category a:visited{
	color:#089ec4;
	}
	
.category a:hover{
	color:#444;
	}
	
.cover {
	margin:0 0;
	padding: 0px 0px ;
	}	
		
.entry {
	margin:0px 0px;
	padding: 0px 0px ;
		}	
	
.entry a:link,
.entry a:visited {
   	color:#1779BE;
	

}

.entry a:hover {
	color:#196496;
	background-color: transparent;

}

.entry ul, .entry ol{
  margin: .4em 0 1em;
  line-height: 150%;
}

.entry ul li, .entry ol li{
  list-style-position:outside;
  margin-left: 1.6em;
}

.entry p{
	margin:0px 0px 20px 0px;
	padding:0px 0px;
	line-height:24px;
}

.plusmore{
	position:absolute;
	width:30px;
	height:25px;
	right:0px;
	bottom:0px;
	background:url(images/plus.png);
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 0px 0px 3px 0px;
border-radius: 0px 0px 3px 0px; 	
}

/* right column */
.right{
	
	position:absolute;
	width:260px;
	left:0px;
	top:0px;
	display:block;
	z-index:200;
	padding-left:20px;
}



.featbox{
	width:260px;
	margin:0px 20px 10px 0px;
	margin:30px 0px 0px 0px;
}

.fblock{
	width:260px;
	display:inline-block;
	padding:10px 0px!important;
}

.fblock h3{
	font-size:14px;
	font-weight:bold;
	padding:0px 0px 0px 0px;
}

.fblock h3 a:link,.fblock h3 a:visited{

	font-weight:bold;
	color:#555;
}

.fblock p{
	color:#6f6f6f;
	margin:0px !important;
	padding:0px 0px !important;
	font-size:11px;
	line-height:150%;
}


p.twitter-message{
	color:#666;
	padding:10px 0px;
	border-bottom:1px solid #ddd;
	font-size:12px;
}

a.twitter-link{
	color:#A33939;
}

a.twitter-user{
 	color:#596F8F;
}


h3.sidetitl{

	font-family: Arial,Tahoma,Century gothic, sans-serif;
	color:#444;
	font-size:16px;
	padding:10px 0px 10px 10px;
	font-weight:bold;
	background:#fff;


}
/* The Sidebar */


.sidebar{

float:left;
}

.sidebox{
	width:260px;
	margin:30px 0px 0px 0px;
	list-style:none;
	color:#6f6f6f;
	}

.sidebox ul {
	list-style-type: none;
	margin:  0px;
	padding: 0px 0px 5px 0px ;

	}
.sidebox li{
	list-style-type: none;
	margin: 0 ;
	padding: 0;

	}
.sidebox ul ul  {
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
	background-repeat:no-repeat;
		}

.sidebox ul ul ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border:0;
	}

.sidebox ul ul ul ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border:0;

	}
	
.sidebox ul li {
	height:100%;
	line-height:20px;
	clear:left;	
	width: 250px;
	margin:0px 0px;
	list-style-type: none;

	}

	
.sidebox ul li a:link, .sidebox ul li a:visited {

	color:#6f6f6f;

	text-decoration: none;
	padding: 5px 0px 5px 0px;
	display:block;
	}

.sidebox ul li a:hover {
	color: #000;
	}

	
.sidebox.widget_categories ul li,.sidebox.widget_pages ul li,.sidebox.widget_archive ul li,
.sidebox.widget_links ul li,.sidebox.widget_meta ul li{
	padding-left:10px;
	border-bottom:1px solid #ddd;	
}

.sidebox.widget_recent_entries ul li a{
	border-bottom:1px solid #ddd;
}

ul#recentcomments li.recentcomments {
	padding:5px 0px;
	border-bottom:1px solid #ddd;
}

.squarebanner {
	margin:30px 0px 10px 0px;
	}

.squarebanner ul{
	list-style-type:none;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	overflow:hidden;
		}
		
.squarebanner ul li{
		list-style-type:none;
	    margin: 10px 10px 0px 0px;
		float:left;
		display:inline;


		}

.squarebanner ul li.rbanner{
	margin-right:0px;
	
}
/*calendar*/

#wp-calendar {
width:260px;
 color: #666;
 font-size: 12px;

}
#wp-calendar a{
 color: #467b89;
}
#wp-calendar caption {
 background: #383838;
 color: #e0e0e0;
 font-size: 14px;
 padding: 10px 0;
 text-align: center;
 text-shadow: 0 -1px 0 #000;

 border: 1px solid #373737;
 z-index: -99;
}
#wp-calendar thead th {
 font-size: 8px;
 padding: 5px 0;
 color: #666;
 text-transform: uppercase;
 text-shadow: 0 1px 0 rgba(255,255,255,0.5);
 border-bottom: 1px solid #bbbbbb;
 background: #E9E9E9;
 background: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#f1f1f1));
 background: -moz-linear-gradient(top,  #E9E9E9,  #f1f1f1);
}
#wp-calendar tbody td {
 color: #666;
 text-shadow: 0 1px 0 rgba(255,255,255,0.5);
 padding: 8px;
 text-align: center;
 font-weight: bold;
 border: 1px solid;
 border-color: #fff #bbbbbb #bbbbbb #fff;
 background: #ededed;
 background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#dedede));
 background: -moz-linear-gradient(top,  #ededed,  #dedede);
}
#wp-calendar tbody td.pad {
 background: #f5f5f5;
 background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ececec));
 background: -moz-linear-gradient(top,  #f5f5f5,  #ececec);
}
#wp-calendar tfoot{
 color: #e0e0e0;
 font-size: 12px;
 text-align: center;
}
#wp-calendar tfoot tr{
 background: #f5f5f5;
 background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ececec));
 background: -moz-linear-gradient(top,  #f5f5f5,  #ececec);
}
#wp-calendar tfoot td{
 padding: 10px 10px;
}
#wp-calendar tfoot a{
 color: #666;
 text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#wp-calendar tfoot td#prev {
 text-align: left;
}
#wp-calendar tfoot td#next {
 text-align: right;
}
#wp-calendar #today{
 color: #fff;
 border: 1px solid #467b89;
 text-shadow: 0 1px 0 rgba(0,0,0,0.3);
 background: #6eafbf;
 background: -moz-radial-gradient(50% 50% 0deg,ellipse cover, #6eafbf, #569EB1);
 background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 20, from(#6eafbf), to(#569EB1));
}

	
/* --- FOOTER --- */

#footer {
	padding:30px 0 25px 0px;
	color:#777;
	font-size:11px;
	background:#212121;

	}

#footer a:link , #footer a:visited{
	color:#777;
	}

#footer a:hover {
	color:#777;
	}

.fcred{
	width:1000px;
	text-align:center;
	margin:0px auto;
	line-height:16px;
}

	

/* The Navigation */

#navigation{	
	margin:10px 0px 0px 0px;
	padding:5px 0px;
	
	}

	
/* The Attachment */

.contentCenter {
	text-align:center;
	}

/* The Page Title */

h1.pagetitle {
	padding:40px 0px 15px 10px;
	font-size:14px;
	color:#444;
	margin: 0px 0px 10px 10px;
	border-bottom:1px solid #fff;
	}
 h1.pagetitle a {
 	color:#507409;
 }
/* Comments */

#commentsbox {

	margin:5px 0px;

}

h3#comments{
	font-size:16px;
	color:#111;
	font-weight:bold;
	padding:10px 0px 10px 10px ;
	margin-top:10px;
	background:#fff;
		border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


ol.commentlist {
	margin:0px 0 0;
	clear:both;
	overflow:hidden;
	list-style:none;
	padding:5px 0px;

}
ol.commentlist li {
	margin:5px 0;
	line-height:18px;
	padding:10px;
	background:#fdfdfd;
	border:1px solid #eee;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

}
ol.commentlist li .comment-author {
	color:#333;


}
ol.commentlist li .comment-author a:link,ol.commentlist li .comment-author a:visited{

	color:#333;
	font-weight:bold;
	text-decoration:none !important;
}

ol.commentlist li .comment-author .fn {
	color:#333;
}
cite.fn{
	color:#eee;
	font-style:normal;
}
ol.commentlist li .comment-author .avatar{
	float:right;
	border:1px solid #eee;
	background:#fff;
	padding:3px;
}
ol.commentlist li .comment-meta{
	font-size:10px;

}
ol.commentlist li .comment-meta .commentmetadata{

	color:#000;
}

ol.commentlist li .comment-meta a {
	color:#089ec4;
	text-decoration:none !important;
}
ol.commentlist li p {
	line-height:22px;
	margin-top:5px;
	color:#666;
	font-size:12px;

}
ol.commentlist li .reply{
	margin-top:10px;
	font-size:10px;
}
ol.commentlist li .reply a{
	background:#089ec4;
	border:1px solid #0e88a7;
	color:#fff;
	text-decoration:none;
	padding:3px 10px;
}

ol.commentlist li.odd {

}
ol.commentlist li.even {

}

ol.commentlist li ul.children {
	list-style:none;
	margin:1em 0 0;
	text-indent:0;

}

ol.commentlist li ul.children li.depth-2 {

	margin:0 0 0px 50px;

}

ol.commentlist li ul.children li.depth-3 {

	margin:0 0 0px 50px;

}

ol.commentlist li ul.children li.depth-4 {

	margin:0 0 0px 50px;

}
ol.commentlist li ul.children li.depth-5 {

	margin:0 0 0px 50px;

}
.comment-nav{
	padding:5px 0px;
	
}

.comment-nav a:link,.comment-nav a:visited{
	color:#089EC4;
}

#respond{

	padding:0px 0px ;
	margin:10px 0px;
	background:#f9f9f9;
	border:1px solid #eee;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
 #respond h3 {
	font-size:14px;
	font-weight:normal;
	padding:15px 20px ;
	color:#555;
	background:#fdfdfd;	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	
}
#commentform {
	padding:10px 20px;
}
#commentform a {
	color:#089EC4;
}

#commentform p{
	margin:5px 0px ;
	color:#999;
}
 #respond label{
	display:block;
	padding:5px 0;
	color:#999;
	
}
 #respond  label small {
	font-size:10px;

}
 #respond input {
	margin-bottom:10px;
	padding:5px 5px;
	margin:0 10px 10px 0;
	background:#fff;
	border:1px solid #ddd;
	color:#02070F;
}
#commentform  input{
	width:50%;

}

#respond  input#commentSubmit {
	width:100px;
	padding:3px 5px;
	background:#089EC4;
	border:1px solid #09809E;
	color:#fff;
	margin:10px 0px;
	cursor:pointer;
}
textarea#comment{
	border:none;
	background:#fff;
	border:1px solid #ddd;
	width:70%;
	margin:10px 0px 0px 0px;
	padding:5px 5px;
	color:#02070F;
}


.widebanner{

	height:60px;
	margin-top:10px;
	padding:10px 0px;
	text-align:center;
}


.wp-pagenavi{

	font-size:12px;
	text-align: center !important;


}
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited {

	text-decoration: none;
	background:#28BABD!important;
	border: 1px solid #3A9294 !important;
	color:#fff !important;
	padding:3px 7px !important;
	display: block;
	text-align: center;
	float: left;
	margin-right: 4px;

}


.wp-pagenavi a:hover {
	color: #ffffff;
}

.wp-pagenavi span.pages {

display:none;
}

.wp-pagenavi span.current {
	text-decoration: none;
	background:#333 !important;
	border: 1px solid #111!important;
	color:#fff !important;
	padding:3px 7px !important;
	display: block;
	text-align: center;
	float: left;
	margin-right: 4px;

}

.wp-pagenavi span.extend {

	text-decoration: none;
	background:#333 !important;
	border: 1px solid #111 !important;
	color:#fff !important;
	padding:3px 7px !important;
	display: block;
	text-align: center;
	float: left;
	margin-right: 4px;

}	

.topbanner{
	float:right;
	margin:35px 20px 0px 0px;
}

.wp-paginater1 {
  border:0;
  color:#FFF;
  float:left;
  width:50% !important;
  margin:-100% 0 0 0;
  overflow:hidden;
  line-height:0;
  padding:0;
  font-size:11px;
}