/* ==========================================================================
   General
   ========================================================================== */

h1 {
    font-size: 14px;
}

body, ul, li {
    padding: 0;
    margin: 0;
    font-family: Tahoma; 
    font-size: 12px;
}
.wrapper_content{
width: 1200px;
margin: 0px auto;
overflow: hidden;
}

#header{
height: 100px;
text-align: center;
background: #042128;
}
#header img{
margin-top: 10px;
}

#slider{
height: 450px;
}
#nav{

}
#center_wrap{
min-height: 600px;
}

#one_column{
    text-align: center;
    width: 200px;
    height: 400px;
    float: left;
}
#one_column div{
    margin-top: 35px;
}
#one_column img, #three_column img{
    margin-bottom: 15px;
}

#main_column{
width: 800px;
float: left;
}

#content{

}

#three_column{
    text-align: center;
    width: 200px;
    height: 400px;
    float: left;
}
#three_column div{
    margin-top: 8px;
}

#footer{
height: 100px;
    padding: 0 200px;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
#nav ul li {
    display: inline;
}
#nav ul {
    padding:10px 0;
    text-align: center;
}
#nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    text-decoration:none;
    margin-left: 20px;
    padding: 3px 4px;
}
.current-menu-item a {
    color: #2F4F4F !important;
}

/* ==========================================================================
   Content
   ========================================================================== */
.main_table {
    width: 800px;
    border-spacing: 0;
}
.main_table th  {
    font-weight: normal;
    color: #FFF;
    width: 200px;
    
    text-transform: uppercase;
    text-align: left;
}
.main_table td  {
    vertical-align: top;
}

.main_table th  col1, .main_table th  col2,.main_table th  col3,.main_table th  col4{
    display: block;
    background-color: #042128;
    padding: 5px;
}
.main_table th  col1, .col_1{
    margin-right: 10px;
}
.main_table th  col2, .main_table th  col3, .col_2, .col_3{
    margin: 0 5px;
}
.main_table th  col4, .col_4{
    margin-left: 10px;
}
.main_table hr {
    vertical-align: bottom;
}
.col_1{
    width: 190px;
    overflow: hidden;
}
.col_2, .col_3{
    width: 190px;
    overflow: hidden;
}
.col_4{
    width: 190px;
    overflow: hidden;
}
.post{
    margin-top: 10px;
}
.post_title{
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    height: 40px;
    overflow: hidden;
}
.post_date{
    font-size: 11px;
}
.post_img{
    text-align: center;
    margin-top: 10px;
    height: 120px;
    overflow: hidden;
}
.post_anons{
    margin-top: 10px;
    height: 120px;
    overflow: hidden;
}
.post_dalee{
    color: #02AEFF;
    text-decoration: none;
}
.post hr{
    margin: 25px 0;
    color: #555; /*для IE */
    background-color:#555; /*для Firefox, Opera, Safari*/
    border:0px none;
    height:1px; /* высота 1px IE, Firefox, Opera, Safari */
    clear:both; /* для очистки, если тег идет после float елемента */
}
.page_content{
    font-size: 14px;
    min-height: 400px;
    width: 770px;
    padding: 15px;
}

/* Footer */
.copirate{
    margin-top: 10px;
}
.cocial{
    margin-top: 50px;
}

html,
body {
    height: 100%;
}
.wrapper {
    display: table;
    height: 100%;
    margin: 0 auto;
    background: #E9E8E6;
}
.content {
    display: table-row;
    height: 100%;

}